<% navbar_color = color %>
<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-#{navbar_color}.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Portfolio", "/", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color} #{nav_active("index.html")}" %>
    <%= link_to "L'agence", "/agence.html", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color} #{nav_active('agence.html')}" %>
    <%= link_to "Contact", "/contact.html", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color}" %>

  </div>
  
  <!-- Right Navigation Responsive-->
  <div class="navbar-wagon-item visible-xs visible-sm button">
    <div class="btn-open">
      <div class="dot dot-<%= navbar_color %>"></div>
      <div class="dot dot-<%= navbar_color %>"></div>
      <div class="dot dot-<%= navbar_color %>"></div>
    </div>
  </div> 

  <div class="overlay">
    <div class="wrap text-right">
      <ul class="wrap-nav">
        <li>
         <%= link_to "Portfolio", "/index.html", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color} #{nav_active("index.html")}" %> 
        </li>
        <li>
          <%= link_to "L'agence", "/agence.html", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color} #{nav_active('agence.html')}" %>
        </li>
        <li>
          <%= link_to "Contact", "/contact.html", class: "navbar-wagon-item navbar-wagon-link link-#{navbar_color}" %>
        </li>
      </ul>
    </div>
  </div>


</div>
