<div class="agency-container">
  <div class="agency-intro text-center">
    <h1>Nous sommes une agence de création digitale.</h1>
    <p>
      Nous vous accompagnons pour donner vie à des projets innovants et créatifs. <br>
      Notre mission ? <strong>Créer la meilleure expérience digitale pour votre marque et votre cible</strong>. Notre écosystème naturel est celui des start-ups. Issus de cette culture entrepreneuriale, nos <strong>process légers et performants</strong> nous permettent d’être <strong>souples et réactifs au changement.</strong> <br>
      Le poulpe a ses tentacules, nous avons notre réseau. Nous collaborons avec des designers, des développeurs, des growth hackers et autres maillons de la chaîne digitale pour vous accompagner dans toutes vos demandes.
    </p>
    <%= link_to "Nos réalisations", "/", class: "btn-poulpe" %>
  </div>
  <hr>
  <div class="founders">
    <h2 class="text-center">Les fondatrices</h2>
    <div class="line"></div>
    <div class="founder">
      <div class="founder-image">
        <%= image_tag "alice.jpg" %>
      </div>
      <div class="founder-bio bg-white">
        <div class="">
          <h3>Alice</h3>
          <p>
            Après cinq années passées dans l'édition
            à relire des manuscrits en tous genres,
            Alice a décidé de plaquer le papier
            pour le web. Mais ne vous y fiez pas. Une
            formation au Wagon et un an passé en tant
            que développeuse en agence plus tard,
            c’est la plus geek de la bande.
            Elle a une passion pour le code propre et
            quitte rarement son terminal, si ce n’est
            pour aider les élèves du Wagon, où elle
            est Teacher Assistant.
          </p>
          <div class="contact-information">
            <a href="https://github.com/alicemomo">
              <div class="circle-icon">
                <i class="fa fa-github"></i>
              </div>
            </a>
            <a href="https://www.linkedin.com/in/alice-morin-20923970/">
              <div class="circle-icon">
                <i class="fa fa-linkedin"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="founder">
      <div class="founder-bio bg-white">
        <div class="">
          <h3>Karine</h3>
          <p>
            Karine est une créative dans l’âme qui,
            après avoir exercé cinq ans en tant que
            Directrice Artistique, décide d’ajouter
            une corde à son arc et se forme au développement web.
            Elle partage aujourd’hui ses journées
            entre du design d’interface, du développement web
            et les cours qu’elle enseigne au Wagon.
            Et en foodista passionnée qu’elle est,
            n’abandonne pas l’idée d’ouvrir un jour
            son restaurant... Affaire à suivre !
          </p>
          <div class="contact-information">
            <a href="https://github.com/karine03">
              <div class="circle-icon">
                <i class="fa fa-github"></i>
              </div>
            </a>
            <a href="https://www.linkedin.com/in/karine-bialobroda-86911424/">
              <div class="circle-icon">
                <i class="fa fa-linkedin"></i>
              </div>
            </a>
            <a href="https://www.instagram.com/karine03/">
              <div class="circle-icon">
                <i class="fa fa-instagram"></i>
              </div>
            </a>
            <a href="https://twitter.com/BLBRD_Paris">
              <div class="circle-icon">
                <i class="fa fa-twitter"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="founder-image">
        <%= image_tag 'karine.jpg' %>
      </div>
    </div>
  </div>
</div>
<div class="services-container">
  <div class="agency-container">
    <h2 class="text-center">Notre expertise</h2>
    <div class="line"></div>
    <div class="services">
      <div class="service-column">
        <div class="service">
           <%= image_tag 'icons/dev.svg' %>
           <h3>Développement Web</h3>
           <p>
             Notre approche est pragmatique : nous privilégions <strong>la simplicité et les itérations.</strong> Nous développons à la main, sans CMS et nous refusons le code jetable. Notre pratique du développement web est constamment guidée par des impératifs de <strong>réutilisabilité et de durabilité.</strong> <br>
             Nous avons choisi <strong>Ruby on Rails</strong> pour le développement backend de nos projets. C’est une technologie solide, utilisée par des acteurs majeurs du web (AirBnb, Kickstarter, entre autres), qui permet de <strong>couvrir tous les besoins</strong> depuis le site vitrine jusqu’à l’application web complexe.
           </p>
        </div>
        <div class="service">
          <%= image_tag 'icons/creation.svg' %>
          <h3>Web Design et Direction Artistique</h3>
          <p>
            Nous sommes convaincus qu’un bon produit passe par un design adapté. C’est pourquoi chez Poulpe, <strong>designers et développeurs travaillent ensemble.</strong>
          </p>
        </div>
      </div>
      <div class="service-column">
        <div class="service">
          <%= image_tag 'icons/conception.svg' %>
          <h3>Conception fonctionnelle et conseil UX</h3>
          <p>
            Notre savoir-faire technique nous permet de <strong>vous conseiller intelligemment</strong> dans la conception fonctionnelle de votre projet. Nous participons si besoin à l’élaboration de votre cahier des charges et de l’architecture de votre site.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reviews-container">
  <div class="agency-container">
    <h2 class="text-center">Ce qu'ils disent de nous</h2>
    <div class="line"></div>
    <div class="clients text-center">

      <a href="#wemind" class="review-tab active" data-target="#wemind">Wemind</a>
      <a href="#kwaala" class="review-tab" data-target="#kwaala">Kwaala</a>
      <a href="#bastille" class="review-tab" data-target="#bastille">Agence Bastille</a>
      <a href="#ant" class="review-tab" data-target="#ant">Ant.</a>

    </div>
    <div class="review-container active text-center" id="wemind">
      <%= partial "work/quote" %>
      <p>
        Nous avons fait appel à Poulpe pour créer rapidement la première version de notre site. Les développements ont été effectués en un temps record et tous les bugs ont été corrigés dans les 24 heures.
        A la date de livraison, le site était opérationnel et sans aucun bug, je crois que c’est la première fois que je vois ça dans un projet informatique. Lorsque le site a été repris par notre équipe interne, le code était clair et optimisé pour la suite. J’ajoute également que la relation de travail était fluide et agréable. <br/>
        Merci et bravo pour votre efficacité et votre professionnalisme&nbsp;!
      </p>
      <span>Hind Elidrissi, Co-fondatrice - <a href="/work/wemind.html">Wemind</a></span>
    </div>
    <div class="review-container text-center" id="kwaala">
      <%= partial "work/quote" %>
      <p>
        Poulpe a refait le design du site kwaala.fr avec beaucoup de professionnalisme et sérieux en un temps record ! Toujours à l'écoute, pleine de créativité et nouvelles idées: le résultat était impeccable et je les en remercie.
      </p>
      <span>Mathilde Lefrancois, Fondatrice - <a href="/work/kwaala.html">Kwaala</a></span>
    </div>
    <div class="review-container text-center" id="bastille">
      <%= partial "work/quote" %>
      <p>
        Aussi bien en terme de graphisme qu’en développement pure, l’équipe de Poulpe apporte son expertise et conseille pour une expérience utilisateur des plus fluide tout en intégrant les contraintes clients. Et pour la recette, ça n’a jamais été aussi rapide !
      </p>
      <span>Lucinda Terreyre, Digital Manager - <a href="/work/eticss.html">Agence Bastille</a></span>
    </div>
    <div class="review-container text-center" id="ant">
      <%= partial "work/quote" %>
      <p>
        Nous avons eu la chance de travailler avec Poulpe dans le cadre de projets importants pour notre agence. Nous avons apprécié le respect des deadlines, la qualité des livrables, l’engagement de l’équipe pour la réussite des projets. Leur force de proposition et leur professionalisme à toute épreuve en font un partenaire privilégié et de confiance avec qui c’est un plaisir de travailler. La complémentarité de leurs équipes apporte de la flexibilité et un regard aussi bien technique que créatif, ce qui est indispensable pour proposer des projets digitaux différenciants.
      </p>
      <span>Antoine Ayoub, Fondateur - <a href="/work/watchdogs.html">Ant.</a></span>
    </div>
  </div>
</div>

<div class="map-container hidden-xs">
  <div id="map" style="width: 100%; height: 60vh;">
  </div>
  <div class="map-info text-center">
    <h2 class="text-center">Nous trouver</h2>
    <div class="line"></div>
    <p> 
      <strong>@Le Wagon</strong> <br>
      16 villa Gaudelet <br>
      75011 Paris
    </p>
    <div class="contact-information text-center">
      <a href="https://www.facebook.com/agencepoulpe">
        <div class="circle-icon">
          <i class="fa fa-facebook-square"></i>
        </div>
      </a>
      <a href="http://instagram.com/agencepoulpe">
        <div class="circle-icon">
          <i class="fa fa-instagram"></i>
        </div>
      </a>  
      <a href="https://www.linkedin.com/company-beta/11049948/">
        <div class="circle-icon">
          <i class="fa fa-linkedin"></i>
        </div>
      </a>  
    </div>
  </div>
</div>
<div id="contact" class="contact-container visible-xs">
  <div class="container">
    <div class="contact-info text-center">
      <h2 class="text-center">Nous trouver</h2>
      <div class="line"></div>
      <p> 
        <strong>@Le Wagon</strong> <br>
        16 villa Gaudelet <br>
        75011 Paris
      </p>
      <div class="contact-information text-center">
        <a href="https://www.facebook.com/agencepoulpe">
          <div class="circle-icon">
            <i class="fa fa-facebook-square"></i>
          </div>
        </a>
        <a href="http://instagram.com/agencepoulpe">
          <div class="circle-icon">
            <i class="fa fa-instagram"></i>
          </div>
        </a>  
        <a href="https://www.linkedin.com/company-beta/11049948/">
          <div class="circle-icon">
            <i class="fa fa-linkedin"></i>
          </div>
        </a>  
      </div>
    </div>
  </div>
</div>



<%= partial 'insta_feed' %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx3WH0kpKancawHg8STM60LCLwdo-VIqw"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.865060, 2.379886);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"stylers":[{"hue":"#00aaff"},{"saturation":-100},{"gamma":2.15},{"lightness":12}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"lightness":24}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":57}]}] 
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
</script>
