<%= partial 'navbar' %>
<div class="banner-project" style="background-image: url(<%= image_path "full-motif-#{color}.jpg" %> ); ">
</div>

<div class="agency-container">
  <div class="agency-content">
    <div class="agency-intro text-center">
      <div class="agency-intro-content">
        <h1>Nous sommes</h1>
        <p>
          <span class="text-bold">Une agence de création digitale. </span><br>
          Inspirés des start-up et des nouveaux écosystèmes, nos process nous permettent d’aller plus vite et d’être plus flexibles. 
          Nous nous appuyons sur un réseau de compétences pluri-disciplinaire pour répondre au mieux à vos demandes. <br>
          Notre mission ? Vous accompagner pour donner vie à des projets innovants et créatifs et ainsi créer la meilleure expérience digitale pour votre marque et votre cible.
        </p>
      </div>
    </div>
    
    <div class="masonry-grid">
      <div class="masonry-column">
        <div class="masonry-picture bg-orange masonry-text-onethird">
          <div class="review-container text-center">
            <%= partial "work/quote" %>
            <p>
              Nous avons fait appel à Poulpe pour créer rapidement la première version de notre site. Les développements ont été effectués en un temps record et tous les bugs ont été corrigés dans les 24 heures.
              A la date de livraison, le site était opérationnel et sans aucun bug, je crois que c’est la première fois que je vois ça dans un projet informatique. Lorsque le site a été repris par notre équipe interne, le code était clair et optimisé pour la suite. J’ajoute également que la relation de travail était fluide et agréable. <br/>
              Merci et bravo pour votre efficacité et votre professionnalisme !
            </p>
            <span>Hind Elidrissi, Présidente - <a href="/work/wemind.html">Wemind</a></span>
          </div>
        </div>
        <div class="bg-grey masonry-text-onethird" id="masonry-services">
          <div class="services">
            <h2>Nous faisons</h2>
            <p>
              <span class="text-bold">Conception fonctionnelle et conseil UX</span> <br>
              - Wireframe <br>
              - Design produit <br>
              - UX/UI <br>
              - Conception user-centric
            </p>
            <p>
              <span class="text-bold">Développement et conseil technique</span> <br>
              - Sites statiques<br>
              - Application web<br>
              - Opération marketing digitale
            </p>
            <p>
              <span class="text-bold">Création</span><br>
              - Web Design<br>
              - Direction Artistique
            </p>
          </div>
        </div>
        <div class="bg-blue masonry-text-onethird">
          <div class="review-container review-container-black text-center">
            <%= partial "work/quote" %>
            <p>
              Nous avons eu la chance de travailler avec Poulpe dans le cadre de projets importants pour notre agence. Nous avons apprécié le respect des deadlines, la qualité des livrables, l’engagement de l’équipe pour la réussite des projets. Leur force de proposition et leur professionalisme à toute épreuve en font un partenaire privilégié et de confiance avec qui c’est un plaisir de travailler. La complémentarité de leurs équipes apporte de la flexibilité et un regard aussi bien technique que créatif, ce qui est indispensable            pour proposer des projets digitaux différenciants.
            </p>
            <span>Antoine Ayoub, Président Ant. - (<a href="/work/watchdogs.html">Watchdogs</a> / <a href="/work/pacorabanne.html">Paco Rabanne</a>)</span>
          </div>
        </div>
      </div>
      <div class="masonry-column">
        <div class="masonry-picture masonry-picture-twothird" style= "background-image: url(<%= image_path 'mozaic.jpg' %>)">
        </div>
        <div class="bg-grey masonry-text-onethird">
          <div class="social-media text-center">
            <h2>Nous trouver</h2>
            <p><span class="text-bold">@Le Wagon</span>, 16 villa Gaudelet, 75011 Paris</p>
            <a href="https://www.facebook.com/agencepoulpe"><i class="fa fa-facebook-square"></i></a>
            <a href="http://instagram.com/agencepoulpe"><i class="fa fa-instagram"></i></a>           
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%= partial 'footer' %>