<% project = data.portfolio[project] %>

  <div class="banner-project" style="background-image: url(<%= image_path project.img_banner %> ); ">
  </div>
<div class="portfolio-container">
  <div class="project-description text-center">   
    <h1><%= project.name %></h1>
    <p><%= project.description %></p>
    <% if project.credits %>
      <p class="project-credits"><%= project.credits %></p>
    <% end %>
    <span class="project-category"><%= project.medium %></span>
  </div>
  <div class="project-images text-center">
    <% project.images.each do |image| %>
      <%= image_tag image.url, class: "img-responsive project-image" %>
    <% end %>
  </div>


</div>